*~
*.o
*.mod
*.x
*.a
bin/*
*.inc
iotk
S3DE
include/fft_defs.h
include/configure.h
include/c_defs.h
install/config.log
install/config.status
install/configure.msg
*.dSYM

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

